html{
  width: 100%;
  height: 100%;
}

body{
  width: 99%;
  height: 98%;
  background-color: #000000;
}

.bg {
  position: relative;
  z-index: 1;
}

body .bg {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
  background-image: url("../../static/img/background/bg01.jpg") ;
  background-size:cover;

}

.container{
  height: 99%;
}

.video-stream-container{
  position: relative;
  width: 100%;
  height: 100%;
}

.img-fluid img{
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 172vh;
  margin: auto;
}

.img-template img{
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 172vh;
  margin: auto;
}

.img-template .title {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 172vh;
  margin: auto;

  font-size: 3.5vh;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  padding-top: 0.35%;
}



.filter-container {
  display: block;
  width: 172vh;
  height: 92.3vh;
  margin: 0 auto;
  opacity: 0.0;
}

.filter-container:hover{
  opacity: 0.99;
}

.location{
  position: absolute;
  display: inline-block;
  margin-left: 5vh;
}

.location-btn {
  background-color: #000000;
  color: white;
  padding: 1vh 3vh;
  margin: 2vh 3vh 0px 3.5vh;
  font-size: 1.9vh;
  border: 0.3vh #1c8037 solid;
}

.location-dropdown {
  display: none;
  position: absolute;
  margin: 0 3.5vh;
  width: 20vh;
  z-index: 1;

  background-color: #000000;
}

.location-dropdown a {
  border: 0.3vh #1c8037 solid;
  display: block;
  padding: 1vh 2vh 1vh 3vh;
  font-size: 1.5vh;
  color: #ffffff;
  text-decoration: none;
}

.location-dropdown a:hover {background-color: #1d7535;}

.location:hover .location-dropdown {display: block;}

.location:hover .location-btn {color: #52e379;}


.camera-menu{
  position: absolute;
  display: inline-block;
  margin-left: 145vh;
  width: 25vh;
}

.camera-menu-btn {
  background-color: #000000;
  color: white;
  padding: 1vh 3vh;
  margin: 2vh 3vh 0px 3vh;
  font-size: 1.9vh;
  border: 0.3vh #1c8037 solid;
}


.camera-menu-dropdown {
  display: none;
  position: absolute;
  margin: 0 3vh;
  width: 20vh;
  z-index: 1;

  background-color: #000000;
}

.camera-menu-dropdown a {
  border: 0.3vh #1c8037 solid;
  display: block;
  padding: 1vh 2vh 1vh 3vh;
  font-size: 1.5vh;
  color: #ffffff;
  text-decoration: none;
}

.camera-menu-dropdown a:hover {background-color: #1d7535;}

.camera-menu:hover .camera-menu-dropdown {display: block;}

.camera-menu:hover .camera-menu-btn {color: #52e379;}



.video_feed_result-container {
  display: block;
  position: relative;
  width: 172vh;
  margin: 0 auto;
}

.video_feed_result {
  text-align: center;
}

.video_feed_result iframe{
   height : 5vh;
   width: 80vh;
   margin: 0 auto;
   padding: 0;
   /* background-color: ivory; */
}

.home-button{
  position: absolute;
  display: inline-block;
  margin-top: 4.5vh;
  margin-left: 2.5vh;
}

.home-button img{
  width: 4vh;
  height: 4vh;
}

.home-button .img-top{
  display: none;
  width: 4vh;
  height: 4vh;
  z-index: 99;
}

.home-button:hover .img-top{
  display: inline;
}


