/* .container{
    background-color: cadetblue;
} */

img {
    max-width: 100%;
    max-height: 100%;
}

.left-container{
    float: left;
    width: 14%;
    height: 100%;
    border-right: 8px solid #990000;
    height: 100%;

    background-color: #ffffff;
}

.right-container{
    padding-left: 15%;
    width: 85%;
    height: 100%;
}

.logo-image-container{
    width:  100%;
    height: 20%;
    text-align: center;

    margin-left: auto;
    margin-right: auto;
}

.content-list-container{
    margin-top: 10%;
    /* margin-left: 3%;
    margin-right: 2%; */
}

.content-list-container img{
    margin-right: 5%;
}


.right-top-container{
    width: 100%;
    height: 15%;

    background-color: aqua;
}

.video-stream-container{
    max-width: 100%;
    max-height: 85%;
    padding: 1%;

    background-color: burlywood;
}





  
/* Style the sidenav links and the dropdown button */
.content-list-container a, .dropdown-btn {
    padding: 3% 0% 3% 6%;
    text-decoration: none;
    font-size: 18px;
    color: #787878;
    display: block;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.content-list-container a{
    max-width: 100%;
}

.dropdown-btn{
    width: 100%;
}

button::-moz-focus-inner {
    border: 0;
  }

a img, .dropdown-btn img{
    vertical-align: bottom;
}


/* On mouse-over */
.content-list-container a:hover, .dropdown-btn:hover {
    background-color: #9c1717;
    color: #ffffff;
    /* width: 90%; */
}

/* Add an active class to the active dropdown button */
.active {
    color: #9c1717;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    margin: 0px 0px 0px 0px;
    max-width: 100%;
}

.dropdown-container a {
    font-size: 14px;
}

.dropdown-container a img{
    font-size: 14px;
    margin-left: 18%;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 10%;
    color: #787878;
    margin-top: 3%;
}


/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
    .content-list-container {padding-top: 15px;}
    .content-list-container a {font-size: 18px;}








