<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Astra Smart Building</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Smart Building by Astra Digital" name="description" />
        <meta content="Astra Digital" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="{{ url_for('static', path='img/favicon.ico') }}">
        
        <!-- third party -->
        {% block css_third %}{% endblock %}

        <!-- App css -->
        <link href="{{ url_for('static', path='assets/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ url_for('static', path='assets/css/icons.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ url_for('static', path='assets/css/app.min.css') }}" rel="stylesheet" type="text/css" />

    </head>

    <body>

        <!-- Begin page -->
        <div id="wrapper">

            <!-- Topbar Start -->
            <div class="navbar-custom">
                <ul class="list-unstyled topnav-menu float-right mb-0">

                    <li class="dropdown notification-list">
                        <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect waves-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                            <img src="{{ url_for('static', path='assets/images/users/user-3.jpg') }}" alt="user-image" class="rounded-circle">
                            <span class="pro-user-name ml-1">
                                {{ request.user.username }} <i class="mdi mdi-chevron-down"></i> 
                            </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                            <!-- item-->
                            <div class="dropdown-header noti-title">
                                <h6 class="text-overflow m-0">Welcome !</h6>
                            </div>

                            <div class="dropdown-divider"></div>

                            <!-- item-->
                            <a href="{{ url_for('logout') }}" class="dropdown-item notify-item">
                                <i class="fe-log-out"></i>
                                <span>Logout</span>
                            </a>

                        </div>
                    </li>

                </ul>

                <!-- LOGO -->
                <div class="logo-box">
                    <a href="{{ url_for('home') }}" class="logo text-center">
                        <span class="logo-lg">
                            <!-- <img src="{{ url_for('static', path='assets/images/logo-light.png') }}" alt="" height="18"> -->
                            <span class="logo-lg-text-light">Smart Building</span>
                        </span>
                        <span class="logo-sm">
                            <span class="logo-lg-text-light">SB</span>
                            <!-- <img src="{{ url_for('static', path='assets/images/logo-sm.png') }}" alt="" height="24"> -->
                        </span>
                    </a>
                </div>

                <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
                    <li>
                        <button class="button-menu-mobile waves-effect waves-light">
                            <i class="fe-menu"></i>
                        </button>
                    </li>
                </ul>
            </div>
            <!-- end Topbar -->

            <!-- ========== Left Sidebar Start ========== -->
            <div class="left-side-menu">

                <div class="slimscroll-menu">

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">

                        <ul class="metismenu" id="side-menu">

                            <li class="menu-title">Navigation</li>
                            {% if request.user.is_admin %}
                            <li>
                                <a href="javascript: void(0);">
                                    <i class="mdi mdi-18px mdi-account"></i>
                                    <span> VMS Menu</span>
                                    <span class="menu-arrow"></span>
                                </a>
                                <ul class="nav-second-level" aria-expanded="false">
                                    <li>
                                        <a href="{{ url_for('registration') }}">Registration</a>
                                    </li>
                                    <li>
                                        <a href="{{ url_for('scanner') }}">Visitor List</a>
                                    </li>
                                    <li>
                                        <a href="{{ url_for('timeline_check') }}">Timeline Checkin</a>
                                    </li>
                                    <li>
                                        <a href="{{ url_for('timeline_checkout') }}">Timeline Checkout</a>
                                    </li>
                                    <li>
                                        <a href="{{ url_for('user_management') }}">Users Management</a>
                                    </li>
                                </ul>
                            </li>
                            {% endif %}
                        </ul>

                    </div>
                    <!-- End Sidebar -->

                    <div class="clearfix"></div>

                </div>
                <!-- Sidebar -left -->

            </div>
            <!-- Left Sidebar End -->

            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">

                    <!-- Start Content-->
                    <div class="container-fluid">

                        {% block content %}{% endblock %}
        
                    </div> <!-- container -->

                </div> <!-- content -->

                <!-- Footer Start -->
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                2020 &copy; Smart Building by <a target="_blank" href="http://astradigital.id">Astra Digital</a> 
                            </div>
                            <!-- <div class="col-md-6">
                                <div class="text-md-right footer-links d-none d-sm-block">
                                    <a href="javascript:void(0);">About Us</a>
                                    <a href="javascript:void(0);">Help</a>
                                    <a href="javascript:void(0);">Contact Us</a>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </footer>
                <!-- end Footer -->

            </div>

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->


        </div>
        <!-- END wrapper -->

        <!-- Vendor js -->
        <script src="{{ url_for('static', path='assets/js/vendor.min.js') }}"></script>
        
        <!-- third party -->
        {% block js_third %}{% endblock %}

        <!-- App js -->
        <script src="{{ url_for('static', path='assets/js/app.min.js') }}"></script>
        
    </body>
</html>