{% extends "base.html" %}
{% block css_third %}
<link href="{{ url_for('static', path='assets/libs/jquery-toast/jquery.toast.min.css') }}" rel="stylesheet"
    type="text/css" />
<link href="{{ url_for('static', path='assets/libs/bootstrap-table/bootstrap-table.min.css') }}" rel="stylesheet"
    type="text/css" />
{% endblock %}
{% block content %}
<!-- CSS -->
<style>
    #my_camera {
        width: 460px;
        height: 400px;
        border: 1px solid lightgray;
    }
</style>
<!-- Pre-loader -->
<div id="preloader" style="background-color: #ffffffa6; display: none;">
    <div id="status">
        <div class="spinner">Loading...</div>
    </div>
</div>
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">ADI</a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0);">VMS Menu</a></li>
                    <li class="breadcrumb-item active">Timeline Check In</li>
                </ol>
            </div>
            <h4 class="page-title">Timeline Check In</h4>
        </div>
    </div>
</div>
<!-- end page title -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header bg-primary py-3 text-white">
                <div class="card-widgets">
                    <a href="javascript:;" data-toggle="reload"><i class="mdi mdi-refresh"></i></a>
                    <a data-toggle="collapse" href="#cardCollpase5" role="button" aria-expanded="false"
                        aria-controls="cardCollpase2"><i class="mdi mdi-minus"></i></a>
                </div>
                <h4 class="card-title mb-0 text-white">List People</h4>
            </div>
            <div class="card-body">
                <!-- <table id="datatable-buttons" class="table dt-responsive nowrap text-center">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>id</th>
                            <th>Identity Number</th>
                            <th>Identity Type</th>
                            <th>Name</th>
                            <th>Floor</th>
                            <th>Reason</th>
                            <th>Check In</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in checkpoints %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ item.id }}</td>
                            <td>{{ item.identity_number }}</td>
                            <td>{{ item.identity_type }}</td>
                            <td>{{ item.vis_name }}</td>
                            <td>{{ item.floor }}</td>
                            <td>{{ item.reason }}</td>
                            <td>{{ item.check_in }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table> -->
                <table data-toggle="table" data-toolbar="#btn-add-user" data-search="true" data-sort-name="no"
                    data-page-list="[5, 10, 20]" data-page-size="5" data-pagination="true"
                    data-show-pagination-switch="true" id="datatable-buttons" class="table">
                    <thead class="thead-light">
                        <tr id="row-head-table">
                            <th data-field="id" data-sortable="false" data-visible="true">id</th>
                            <th data-field="no" data-sortable="true" data-visible="true">No</th>
                            <th data-field="identity_number" data-sortable="true" data-visible="true">Identity Number</th>
                            <th data-field="identity_type" data-sortable="true" data-visible="true">Identity Type</th>
                            <th data-field="vis_name" data-sortable="true" data-visible="true">Name</th>
                            <th data-field="floor" data-sortable="true" data-visible="true">Floor</th>
                            <th data-field="reason" data-sortable="true" data-visible="true">Reason</th>
                            <th data-field="check_in" data-sortable="true" data-visible="true">Check In</th>
                            <th data-field="check_out" data-sortable="true" data-visible="true">Check Out</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for item in checkpoints %}
                        <tr>
                            <td>{{ item.id }}</td>
                            <td>{{ loop.index }}</td>
                            <td>{{ item.identity_number }}</td>
                            <td>{{ item.identity_type }}</td>
                            <td>{{ item.vis_name }}</td>
                            <td>{{ item.floor }}</td>
                            <td>{{ item.reason }}</td>
                            <td>{{ item.check_in }}</td>
                            <td>{{ item.check_out }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div> <!-- end card -->
    </div><!-- end col-->
</div>
<!-- Footer Start -->
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                2020 &copy; Visitor Management System by <a href="">AstraDigital</a>
            </div>
            <div class="col-md-6">
                <div class="text-md-right footer-links d-none d-sm-block">
                    <a href="javascript:void(0);">About Us</a>
                    <a href="javascript:void(0);">Help</a>
                    <a href="javascript:void(0);">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end Footer -->

<!-- ============================================================== -->
<!-- End Page content -->
<!-- ============================================================== -->
<!-- Right bar overlay-->
<div class="rightbar-overlay"></div>
{% endblock %}
{% block js_third %}
<!-- Vendor js -->
<script src="assets/js/vendor.min.js"></script>

<!-- Jquery Ui js -->
<!-- <script src="assets/libs/jquery-ui/jquery-ui.min.js"></script> -->

<!-- Plugin js -->
<script src="assets/libs/parsleyjs/parsley.min.js"></script>

<!-- App js -->
<script src="assets/js/app.min.js"></script>

<!-- Init -->
<script src="assets/js/pages/form-validation.init.js"></script>

<!-- App js -->
<script src="assets/js/app.min.js"></script>

<script src="{{ url_for('static', path='assets/libs/jquery-toast/jquery.toast.min.js') }}"></script>
<script src="{{ url_for('static', path='assets/libs/jquery-tabledit/jquery.tabledit.min.js') }}"></script>
<script src="{{ url_for('static', path='assets/libs/bootstrap-table/bootstrap-table.min.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var table_check_out = {
            url: '{{ url_for("api_time_checkout") }}',
            buttons: {
                checkout: {
                    class: "btn btn-blue",
                    html: '<span class="mdi mdi-pencil"></span>',
                    action: "checkout"
                }
            },
            inputClass: "form-control form-control-sm",
            hideIdentifier: true,
            columns: {
                identifier: [0, "id"],
                editable: [[8, "check_out"]]
            },
            onAjax: function () {
                $("#status").fadeIn();
                $("#preloader").fadeIn("slow");
            },
            onSuccess: function (result) {
                $("#status").fadeOut();
                $("#preloader").fadeOut("slow");
                $.toast({
                    heading: 'Success!',
                    text: result.messages,
                    icon: 'success',
                    showHideTransition: 'fade',
                    position: 'top-right',
                });
            },
            onFail: function (res) {
                $("#status").fadeOut();
                $("#preloader").fadeOut("slow");
                $.toast({
                    heading: 'Error!',
                    text: 'Update failed',
                    icon: 'error',
                    showHideTransition: 'fade',
                    position: 'top-right',
                });
            },
        }
        var table_edit = {
            url: '{{ url_for("api_update_checkin") }}',
            buttons: {
                edit: {
                    class: "btn btn-info",
                    html: '<span class="mdi mdi-pencil"></span>',
                    action: "edit"
                },
                delete: {
                    class: "btn btn-danger",
                    html: '<span class="mdi mdi-trash-can-outline"></span>',
                    action: "delete"
                },
                save: {
                    class: "btn btn-success",
                    html: '<span class="mdi mdi-content-save"></span>',
                    action: "save"
                }
            },
            inputClass: "form-control form-control-sm",
            hideIdentifier: true,
            columns: {
                identifier: [0, "id"],
                editable: [[2, "identity_number"], [3, "identity_type"], [4, "vis_name"], [5, "floor"], [6, "reason"]]
            },
            onAjax: function () {
                $("#status").fadeIn();
                $("#preloader").fadeIn("slow");
            },
            onSuccess: function (result) {
                $("#status").fadeOut();
                $("#preloader").fadeOut("slow");
                $.toast({
                    heading: 'Success!',
                    text: result.messages,
                    icon: 'success',
                    showHideTransition: 'fade',
                    position: 'top-right',
                });
            },
            onFail: function (res) {
                $("#status").fadeOut();
                $("#preloader").fadeOut("slow");
                $.toast({
                    heading: 'Error!',
                    text: 'Update failed',
                    icon: 'error',
                    showHideTransition: 'fade',
                    position: 'top-right',
                });
            },
        };
        var table = $('#datatable-buttons').on("click", ".is_admin_table", function (event) {
            var user = new FormData();
            user.append("id", $(this).data("iduser"));
            var num = event.target.checked ? 1 : 0;
            user.append("is_admin", num);
            $.ajax({
                url: '{{ url_for("api_update_checkin") }}',
                type: 'POST',
                data: user,
                processData: false,
                contentType: false,
                beforeSend: function () {
                    $("#status").fadeIn();
                    $("#preloader").fadeIn("slow");
                },
                success: function (result) {
                    $("#status").fadeOut();
                    $("#preloader").fadeOut("slow");
                    $.toast({
                        heading: 'Success!',
                        text: result.messages,
                        icon: 'success',
                        showHideTransition: 'fade',
                        position: 'top-right',
                    });
                },
                error: function (res) {
                    $("#status").fadeOut();
                    $("#preloader").fadeOut("slow");
                    $.toast({
                        heading: 'Error!',
                        text: 'Update failed',
                        icon: 'error',
                        showHideTransition: 'fade',
                        position: 'top-right',
                    });
                },
            });
        }).show();

        if ($('#datatable-buttons').find('tbody').find("tr").find("td").length > 1) {
            table.Tabledit(table_edit).on('reset-view.bs.table', function (e) {
                var len = $('#datatable-buttons').find('tbody').find("tr").find("td").length;
                if (len > 1) {
                    $('#datatable-buttons').Tabledit(table_edit);
                }
            });
        }
        if ($('#datatable-buttons').find('tbody').find("tr").find("td").length > 3) {
            table.Tabledit(table_check_out).on('reset-view.bs.table', function (e) {
                var len = $('#datatable-buttons').find('tbody').find("tr").find("td").length;
                if (len > 3) {
                    $('#datatable-buttons').Tabledit(table_check_out);
                }
            });
        }
    });
</script>
{% endblock %}