<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Astra Smart Building</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Smart Building by Astra Digital" name="description" />
        <meta content="Astra Digital" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="{{ url_for('static', path='img/favicon.ico') }}">

        <!-- App css -->
        <link href="{{ url_for('static', path='assets/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ url_for('static', path='assets/css/icons.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ url_for('static', path='assets/css/app.min.css') }}" rel="stylesheet" type="text/css" />

    </head>

    <body class="authentication-bg" style="background-color: #272538;">

        <div class="account-pages mt-5 mb-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <div class="card bg-pattern">

                            <div class="card-body p-4">
                                
                                <div class="text-center w-75 m-auto">
                                    <h3>
                                        <a href="/">
                                            Astra Smart Building
                                        </a>
                                    </h3>
                                    
                                    {% if messages is not none %}
                                        <p class="text-danger mb-4 mt-3">{{ messages }}</p>
                                    {% else %}
                                        <p class="text-muted mb-4 mt-3">Enter your username and password to access admin panel.</p>
                                    {% endif %}
                                </div>

                                <form action="{{ url_login_post }}" method="POST">

                                    <div class="form-group mb-3">
                                        <label for="username">Username</label>
                                        <input class="form-control" type="text" id="username" name="username" required="" placeholder="Enter your username">
                                    </div>

                                    <div class="form-group mb-3">
                                        <label for="password">Password</label>
                                        <input class="form-control" type="password" required="" id="password" name="password" placeholder="Enter your password">
                                    </div>

                                    <div class="form-group mb-0 text-center">
                                        <button class="btn btn-primary btn-block" type="submit"> Log In </button>
                                    </div>

                                </form>

                            </div> <!-- end card-body -->
                        </div>
                        <!-- end card -->


                    </div> <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end page -->


        <footer class="footer footer-alt">
            <script>document.write(new Date().getFullYear())</script> &copy; Smart Building by <a target="_blank" href="http://astradigital.id">Astra Digital</a> 
        </footer>

        <!-- Vendor js -->
        <script src="{{ url_for('static', path='assets/js/vendor.min.js') }}"></script>

        <!-- App js -->
        <script src="{{ url_for('static', path='assets/js/app.min.js') }}"></script>
        
    </body>
</html>