{% extends "base.html" %}
{% block css_third %}
<link href="{{ url_for('static', path='assets/libs/jquery-toast/jquery.toast.min.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ url_for('static', path='assets/libs/bootstrap-table/bootstrap-table.min.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
<!-- CSS -->
<style>
    #my_camera{
     width: 445px;
     height: 300px;
     border: 1px solid lightgray;
    }
</style>
<style>
    #my_camera3{
     width: 420px;
     height: 300px;
     border: 1px solid lightgray;
    }
</style>
<!-- Pre-loader -->
<div id="preloader" style="background-color: #ffffffa6; display: none;">
    <div id="status">
        <div class="spinner">Loading...</div>
    </div>
</div>
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">ADI</a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0);">VMS Menu</a></li>
                    <li class="breadcrumb-item active">Registration</li>
                </ol>
            </div>
            <h4 class="page-title">Visitor</h4>
        </div>
    </div>
</div>     
<!-- end page title --> 
<!-- Modal Start -->
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="formuserLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Scan ID Card</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <form class="form-horizontal" action="{{ url_for('registration') }}" method="POST">
            <!-- <form class="needs-validation form-horizontal" action="{{ url_for('registration') }}" method="POST" novalidate></form> -->
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="identity_type2" class="col-form-label">Identity Type</label>
                            <select id="identity_type2" name="identity_type2" class="form-control">
                                <option value="">Choose..</option>
                                <option value="eKTP">eKTP</option>
                                <option value="SIM">SIM</option>
                                <!-- <option value="SIM B">SIM B</option>
                                <option value="SIM C">SIM C</option> -->
                                <option value="EmployeID">Employee ID</option>
                                <option value="Passport">Passport</option>
                                <option value="Other">Other</option>
                            </select>
                            <div class="invalid-feedback">
                                Please provide a valid Identity.
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <label class="col-form-label">Identity Picture</label>
                        <div class="card">
                            <div id="my_camera3"></div>
                        </div>
                        <div class="form-group col-md-8">
                            <input type="button" class="btn btn-warning width-md waves-effect waves-light" name="configure" onClick=configure_id() value="Open Camera"/>
                            <input type="button" class="btn btn-warning width-md waves-effect waves-light" name="scan" onClick=take_snapshot_id() value="Take Picture"/>
                            <input type="hidden" class="form-control" id="result_id" name="result_id">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light waves-effect" data-dismiss="modal">Close</button>
                    <!-- <input type="button" class="btn btn-success width-md waves-effect waves-light" name="scan" value="Scan"/> -->
                    
                    <input type="button" class="btn btn-warning width-md waves-effect waves-light" name="scan_id" id=scan_id value="Fill Form"/>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div id="myModal2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Camera Menu</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="col">
                    <!-- Simple card -->
                    <div class="card">
                        <div id="my_camera"></div>
                        <!-- <div id="my_camera"></div> -->
                    </div>
                </div><!-- end col -->
                <!-- <div class="card-body table-responsive">
                    <table id="basic-datatable" class="table dt-responsive nowrap text-center">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Detected Person</th>
                                <th>Prediction</th>
                                <th>Detected</th>
                                <th>Option</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td><img class="img-fluid" src="assets/photos/muhidin1.png" alt="Card image cap" ></img></th>
                                <td><img class="img-fluid" src="assets/photos/muhidin2.png" alt="Card image cap" ></img></th>
                                <td>315647893123 (MUHIDIN JASMANI)</td>
                                <td>
                                        <div class="col-6 d-flex justify-content-center align-items-center">
                                            <button class="btn btn-info" type="submit">SEND</button>
                                        </div>
                                        <div class="col-6 d-flex justify-content-center align-items-center">
                                            <button class="btn btn-danger" type="submit">DETACH</button>
                                        </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div> -->
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-warning width-md waves-effect waves-light" name="configure" onClick=configure() value="Open Camera"/>
                <input type="button" class="btn btn-warning width-md waves-effect waves-light" name="scan" onClick=take_snapshot() value="Take Picture"/>
                <input type="button" class="btn btn-light waves-effect" data-dismiss="modal" value="Close" />
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Modal End -->
<div id="myModal3" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Check In</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <form class="form-horizontal" action="{{ url_for('checkinout') }}" method="POST">
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-md-8">
                            <label for="identity_number" class="col-form-label">Identity * :</label>
                            <input type="text" class="form-control" id="identity_number" name="identity_number"
                                pattern="\d*" minlength="4" maxlength="15" placeholder="eKTP, SIM, or other" required>
                            <div class="invalid-feedback">
                                Please provide a valid number.
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="identity_type" class="col-form-label">Type</label>
                            <select id="identity_type" name="identity_type" class="form-control" required="">
                                <option value="">Choose..</option>
                                <option value="eKTP">eKTP</option>
                                <option value="SIM">SIM</option>
                                <option value="EmployeID">Employee ID</option>
                                <option value="Passport">Passport</option>
                                <option value="Other">Other</option>
                            </select>
                            <div class="invalid-feedback">
                                Please provide a valid Identity.
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="floor">Floor *:</label>
                        <select id="floor" name="floor" class="form-control" required="">
                            <option value="">Choose..</option>
                            <option value="GF">GF</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="3A">3A</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="reason" class="col-form-label">Reason *:</label>
                        <input type="text" class="form-control" id="reason" name="reason"
                            placeholder="Utilities">
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-light waves-effect" data-dismiss="modal" value="Close" />
                    <button type="submit" class="btn btn-success width-lg waves-effect waves-light">Submit</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="row">
    <div class="col-lg-9">
        <!-- Portlet card -->
        <div class="card">
            <div class="card-header bg-primary py-3 text-white">
                <div class="card-widgets">
                    <a href="javascript:;" data-toggle="reload"><i class="mdi mdi-refresh"></i></a>
                    <a data-toggle="collapse" href="#cardCollpase5" role="button" aria-expanded="false" aria-controls="cardCollpase2"><i class="mdi mdi-minus"></i></a>
                </div>
                <div class="row">
                    <div class="col-3">
                        <h4 class="card-title mb-0 text-white">Form Registration</h4>
                    </div>
                    <div class="col-2">
                        <!-- <button type="button" class="btn btn-primary waves-effect waves-light" data-toggle="modal" data-target="#myModal">Standard Modal</button> -->
                        <button class="btn btn-success width-md" data-toggle="modal" data-target="#myModal" type="submit">Scan Id</button>
                    </div>
                    <div class="col-2">
                        <button class="btn btn-warning width-md" data-toggle="modal" data-target="#myModal2" type="submit">Camera</button>
                    </div>
                    <div class="col-2">
                        <button class="btn btn-blue width-md" data-toggle="modal" data-target="#myModal3" type="submit">Check In</button>
                    </div>
                    <!-- <div class="col-2">
                        <button class="btn btn-danger width-md" type="submit">Camera</button>
                    </div>
                    <div class="col-2">
                        <button class="btn btn-info width-md" type="submit">Check In</button>
                    </div> -->
                </div>
            </div>
            <div id="cardCollpase5" class="collapse show">
                <!-- <form class="needs-validation" action="{{ url_for('registration') }}" method="POST" novalidate> -->
                <form class="form-horizontal needs-validation" action="{{ url_for('registration') }}" method="POST" novalidate>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="name_visitor" class="col-form-label">Name * :</label>
                            <!-- <input type="text" class="form-control" id="name_visitor" name="id_visitor" placeholder="Visitor Name" required> -->
                            <input type="text" name="name_visitor" class="form-control" id="name_visitor" placeholder="Visitor Name" required>
                            <div class="invalid-feedback">
                                Please provide a valid Name.
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-8">
                                <label for="identity_number" class="col-form-label">Identity * :</label>
                                <input type="text" class="form-control" id="identity_number" name="identity_number" pattern="\d*" minlength="4" maxlength="15" placeholder="eKTP, SIM, or other" required>
                                <div class="invalid-feedback">
                                    Please provide a valid number.
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="identity_type" class="col-form-label">Type</label>
                                <select id="identity_type" name="identity_type" class="form-control" required="">
                                    <option value="">Choose..</option>
                                    <option value="eKTP">eKTP</option>
                                    <option value="SIM">SIM</option>
                                    <!-- <option value="SIM B">SIM B</option>
                                    <option value="SIM C">SIM C</option> -->
                                    <option value="EmployeID">Employee ID</option>
                                    <option value="Passport">Passport</option>
                                    <option value="Other">Other</option>
                                </select>
                                <div class="invalid-feedback">
                                    Please provide a valid Identity.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="gender">Gender *:</label>
                            <select id="gender" name="gender" class="form-control" required="">
                                <option value="">Choose..</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="phone_number" class="col-form-label">Phone Number</label>
                            <input type="text" class="form-control" id="phone_number" pattern="\d*" placeholder="+62xxx-xxxx-xxxx" minlength="4" maxlength="12" size="10" required>
                            <div class="invalid-feedback">
                                Please provide a valid Phone Number.
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="office" class="col-form-label">Organization</label>
                            <input type="text" class="form-control" id="office" name="office" placeholder="ADI, AI-HO, or other">
                        </div>
    
                        <div class="form-group">
                            <label for="address" class="col-form-label">Address</label>
                            <input type="text" class="form-control" id="address" name="address">
                        </div>
                        <input type="hidden" class="form-control" id="result_face" name="result_face">
                    </div> <!-- end card-body-->
                    <div class="card-footer text-center">
                        <button type="submit" class="btn btn-primary width-lg waves-effect waves-light">Register</button>
                        <!-- <button type="submit" class="btn btn-primary width-xl">Register</button> -->
                    </div>
                </form>
            </div>
        </div> <!-- end card-->
    </div><!-- end col -->
    
    <div class="col-lg-3 col-xl-3">
        <div class="card">
            <div class="card-body ribbon-box">
                <div class="ribbon ribbon-primary float-right"><i class="fas fa-user-alt mr-1"></i> Lee Ji Eun</div>
                <h5 class="card-title">Welcome to PT. Astra Digital</h5>
                <!-- <h6 class="card-subtitle text-muted">Support card subtitle</h6> -->
            </div>
            <div id="my_camera2"></div>
            <div id="my_camera4"></div>
        </div>
    </div><!-- end col -->
</div>

<!-- Right bar overlay-->
<div class="rightbar-overlay"></div>
{% endblock %}

{% block js_third %}
<!-- Vendor js -->
<script src="{{ url_for('static', path='assets/js/vendor.min.js')}}"></script>

<!-- Jquery Ui js -->
<!-- <script  url_for('static', path=src="assets/libs/jquery-ui/jquery-ui.min.js")></script> -->

<!-- Plugin js -->
<script src="{{ url_for('static', path='assets/libs/parsleyjs/parsley.min.js')}}"></script>

<!-- Init -->
<script src="{{ url_for('static', path='assets/js/pages/form-validation.init.js')}}"></script>

<!-- App js -->
<script src="{{ url_for('static', path='assets/js/app.min.js')}}"></script>

<script src="{{ url_for('static', path='assets/libs/jquery-toast/jquery.toast.min.js') }}"></script>
<script src="{{ url_for('static', path='assets/libs/jquery-tabledit/jquery.tabledit.min.js') }}"></script>
<script src="{{ url_for('static', path='assets/libs/bootstrap-table/bootstrap-table.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', path='js/webcam.min.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        
        $("#scan_id").click(function(e){
                e.preventDefault();
                var id_path=new Object();
                id_path.identity_path=$('#result_id').val();
                id_path.identity_type=$("select#identity_type2 option:checked").val();
                $.ajax({
                    url: '{{ url_for("api_scan_id") }}',
                    type: 'POST',
                    data: JSON.stringify(id_path),
                    contentType: "application/json",
                    success: function(result) {
                        console.log(result);
                        $('#name_visitor').val(result.name);
                        $('#identity_number').val(result.id);
                        $('#identity_type').val(result.input_type);
                    }

                });
                
            });

        var table_edit = {
            url: '{{ url_for("api_update_visitor") }}',
            buttons:{
                edit:{
                    class:"btn btn-info",
                    html:'<span class="mdi mdi-pencil"></span>',
                    action:"edit"
                },
                delete:{
                    class:"btn btn-danger",
                    html:'<span class="mdi mdi-trash-can-outline"></span>',
                    action:"delete"
                },
                save:{
                    class:"btn btn-success",
                    html:'<span class="mdi mdi-content-save"></span>',
                    action:"save"
                }
            },
            inputClass:"form-control form-control-sm",
            hideIdentifier: true,
            columns:{
                identifier:[0,"id"],
                editable:[[2,"name"]]
            },
            onAjax: function() {
                $("#status").fadeIn();
                $("#preloader").fadeIn("slow");
            },
            onSuccess: function (result) {
                $("#status").fadeOut();
                $("#preloader").fadeOut("slow");
                $.toast({
                    heading: 'Success!',
                    text: result.messages,
                    icon: 'success',
                    showHideTransition: 'fade',
                    position: 'top-right',
                });
            },
            onFail: function (res) {
                $("#status").fadeOut();
                $("#preloader").fadeOut("slow");
                $.toast({
                    heading: 'Error!',
                    text: 'Update failed',
                    icon: 'error',
                    showHideTransition: 'fade',
                    position: 'top-right',
                });
            },
        };
        var table = $('#user-datatable').on("click", ".is_admin_table", function (event) {
            var user = new FormData();
            user.append("id", $(this).data("iduser"));
            var num = event.target.checked ? 1 : 0;
            user.append("is_admin", num);
            $.ajax({
                url: '{{ url_for("api_update_visitor") }}',
                type: 'POST',
                data: user,
                processData: false,
                contentType: false,
                beforeSend: function() {
                    $("#status").fadeIn();
                    $("#preloader").fadeIn("slow");
                },
                success: function (result) {
                    $("#status").fadeOut();
                    $("#preloader").fadeOut("slow");
                    $.toast({
                        heading: 'Success!',
                        text: result.messages,
                        icon: 'success',
                        showHideTransition: 'fade',
                        position: 'top-right',
                    });
                },
                error: function (res) {
                    $("#status").fadeOut();
                    $("#preloader").fadeOut("slow");
                    $.toast({
                        heading: 'Error!',
                        text: 'Update failed',
                        icon: 'error',
                        showHideTransition: 'fade',
                        position: 'top-right',
                    });
                },
            });
        }).show();

        if ($('#user-datatable').find('tbody').find("tr").find("td").length > 1){
            table.Tabledit(table_edit).on('reset-view.bs.table', function(e) {
                var len = $('#user-datatable').find('tbody').find("tr").find("td").length;
                if (len > 1) {
                    $('#user-datatable').Tabledit(table_edit);
                }
            });
        }
    });


    function configure(){
    Webcam.set({
    width: 445,
    height: 300,
    image_format: 'jpeg',
    jpeg_quality: 90
    });
    Webcam.attach( '#my_camera' );
    };
    
    // Code to handle taking the snapshot and displaying it locally
    function take_snapshot() {
    
    // take snapshot and get image data
    Webcam.snap( function(data_uri) {
    document.getElementById('my_camera2').innerHTML = 
    '<img src="'+data_uri+'"/>';
    document.getElementById('result_face').value = 
    data_uri;
    } );
    Webcam.reset();
    };


    function configure_id(){
    Webcam.set({
    width: 420,
    height: 300,
    image_format: 'jpeg',
    jpeg_quality: 90
    });
    Webcam.attach( '#my_camera3' );
    };
    function take_snapshot_id() {
    
    // take snapshot and get image data
    Webcam.snap( function(data_uri) {
    document.getElementById('result_id').value = 
    data_uri;
    document.getElementById('my_camera4').innerHTML = 
    '<img src="'+data_uri+'"/>';
    } );
    Webcam.reset();
    }


</script>
{% endblock %}