{% extends "base.html" %}
{% block css_third %}
<link href="{{ url_for('static', path='assets/libs/jquery-toast/jquery.toast.min.css') }}" rel="stylesheet"
    type="text/css" />
<link href="{{ url_for('static', path='assets/libs/bootstrap-table/bootstrap-table.min.css') }}" rel="stylesheet"
    type="text/css" />
{% endblock %}
{% block content %}
<!-- CSS -->
<style>
    #my_camera {
        width: 460px;
        height: 400px;
        border: 1px solid lightgray;
    }
</style>
<!-- Pre-loader -->
<div id="preloader" style="background-color: #ffffffa6; display: none;">
    <div id="status">
        <div class="spinner">Loading...</div>
    </div>
</div>
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">ADI</a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0);">VMS Menu</a></li>
                    <li class="breadcrumb-item active">List Visitor</li>
                </ol>
            </div>
            <h4 class="page-title">List Visitor</h4>
        </div>
    </div>
</div>
<!-- end page title -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="card-header bg-primary py-3 text-white">
                    <div class="card-widgets">
                        <a href="javascript:;" data-toggle="reload"><i class="mdi mdi-refresh"></i></a>
                        <a data-toggle="collapse" href="#cardCollpase5" role="button" aria-expanded="false"
                            aria-controls="cardCollpase2"><i class="mdi mdi-minus"></i></a>
                    </div>
                    <h4 class="card-title mb-0 text-white">List People</h4>
                </div>
                <div class="table-responsive-md">
                    <table data-toggle="table" data-toolbar="#btn-add-user" data-search="true" data-sort-name="no"
                        data-page-list="[5, 10, 20]" data-page-size="5" data-pagination="true"
                        data-show-pagination-switch="true" id="user-datatable" class="table">
                        <thead class="thead-light">
                            <tr id="row-head-table">
                                <th data-field="index" data-sortable="false" data-visible="true">Index</th>
                                <th data-field="no" data-sortable="false" data-visible="true">No</th>
                                <th data-field="identity_number" data-sortable="true" data-visible="true">Identity</th>
                                <th data-field="vis_name" data-sortable="true" data-visible="true">Name</th>
                                <th data-field="gender" data-sortable="false" data-visible="true">Gender</th>
                                <th data-field="phone" data-sortable="false" data-visible="true">Phone</th>
                                <th data-field="office" data-sortable="false" data-visible="true">Office</th>
                                <th data-field="address" data-sortable="false" data-visible="true">Address</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in visitors %}
                            <tr>
                                <td>{{ item.id }}</td>
                                <td>{{ loop.index }}</td>
                                <td>{{ item.identity_number }}</td>
                                <td>{{ item.vis_name }}</td>
                                <td>{{ item.gender }}</td>
                                <td>{{ item.phone }}</td>
                                <td>{{ item.office }}</td>
                                <td>{{ item.address }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    2020 &copy; Visitor Management System by <a href="">AstraDigital</a>
                </div>
                <div class="col-md-6">
                    <div class="text-md-right footer-links d-none d-sm-block">
                        <a href="javascript:void(0);">About Us</a>
                        <a href="javascript:void(0);">Help</a>
                        <a href="javascript:void(0);">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

{% endblock %}
{% block js_third %}
<script src="{{ url_for('static', path='assets/libs/jquery-toast/jquery.toast.min.js') }}"></script>
<script src="{{ url_for('static', path='assets/libs/jquery-tabledit/jquery.tabledit.min.js') }}"></script>
<script src="{{ url_for('static', path='assets/libs/bootstrap-table/bootstrap-table.min.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var table_edit = {
            url: '{{ url_for("api_update_visitor") }}',
            buttons: {
                edit: {
                    class: "btn btn-info",
                    html: '<span class="mdi mdi-pencil"></span>',
                    action: "edit"
                },
                delete: {
                    class: "btn btn-danger",
                    html: '<span class="mdi mdi-trash-can-outline"></span>',
                    action: "delete"
                },
                save: {
                    class: "btn btn-success",
                    html: '<span class="mdi mdi-content-save"></span>',
                    action: "save"
                }
            },
            inputClass: "form-control form-control-sm",
            hideIdentifier: true,
            columns: {
                identifier: [0, "id"],
                editable: [[3, "vis_name"], [5, "phone"], [6, "office"], [7, "address"]]
            },
            onAjax: function () {
                $("#status").fadeIn();
                $("#preloader").fadeIn("slow");
            },
            onSuccess: function (result) {
                $("#status").fadeOut();
                $("#preloader").fadeOut("slow");
                $.toast({
                    heading: 'Success!',
                    text: result.messages,
                    icon: 'success',
                    showHideTransition: 'fade',
                    position: 'top-right',
                });
            },
            onFail: function (res) {
                $("#status").fadeOut();
                $("#preloader").fadeOut("slow");
                $.toast({
                    heading: 'Error!',
                    text: 'Update failed',
                    icon: 'error',
                    showHideTransition: 'fade',
                    position: 'top-right',
                });
            },
        };
        var table = $('#user-datatable').on("click", ".is_admin_table", function (event) {
            var user = new FormData();
            user.append("id", $(this).data("iduser"));
            var num = event.target.checked ? 1 : 0;
            user.append("is_admin", num);
            $.ajax({
                url: '{{ url_for("api_update_visitor") }}',
                type: 'POST',
                data: user,
                processData: false,
                contentType: false,
                beforeSend: function () {
                    $("#status").fadeIn();
                    $("#preloader").fadeIn("slow");
                },
                success: function (result) {
                    $("#status").fadeOut();
                    $("#preloader").fadeOut("slow");
                    $.toast({
                        heading: 'Success!',
                        text: result.messages,
                        icon: 'success',
                        showHideTransition: 'fade',
                        position: 'top-right',
                    });
                },
                error: function (res) {
                    $("#status").fadeOut();
                    $("#preloader").fadeOut("slow");
                    $.toast({
                        heading: 'Error!',
                        text: 'Update failed',
                        icon: 'error',
                        showHideTransition: 'fade',
                        position: 'top-right',
                    });
                },
            });
        }).show();

        if ($('#user-datatable').find('tbody').find("tr").find("td").length > 1) {
            table.Tabledit(table_edit).on('reset-view.bs.table', function (e) {
                var len = $('#user-datatable').find('tbody').find("tr").find("td").length;
                if (len > 1) {
                    $('#user-datatable').Tabledit(table_edit);
                }
            });
        }
    });
</script>
{% endblock %}