{% extends "base.html" %}
{% block css_third %}
<link href="{{ url_for('static', path='assets/libs/jquery-toast/jquery.toast.min.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ url_for('static', path='assets/libs/bootstrap-table/bootstrap-table.min.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
<!-- Pre-loader -->
<div id="preloader" style="background-color: #ffffffa6; display: none;">
    <div id="status">
        <div class="spinner">Loading...</div>
    </div>
</div>
<!-- End Preloader-->
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item active"><a href="javascript: void(0);">User Management</a></li>
                </ol>
            </div>
            <h4 class="page-title">User Management</h4>
        </div>
    </div>
</div>  
<!-- end page title --> 
<div id="form-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="formuserLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="formuserLabel">Add User</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <form class="form-horizontal" action="{{ url_for('user_management') }}" method="POST">
                <div class="modal-body p-4">
                    <div class="form-group row mb-3">
                        <label for="username" class="col-2 col-form-label">User Name</label>
                        <div class="col-10">
                            <input type="text" name="username" class="form-control" id="username" placeholder="User Name" required>
                        </div>
                    </div>
                    <div class="form-group row mb-3">
                        <label for="name" class="col-2 col-form-label">Password</label>
                        <div class="col-10">
                            <input type="password" name="password" class="form-control" id="password" placeholder="Password" required>
                        </div>
                    </div>
                    <div class="form-group row mb-3 justify-content-end">
                        <div class="col-10">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="is_admin" name="is_admin">
                                <label class="custom-control-label" for="is_admin">Is Admin</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-info waves-effect waves-light">Add</button>
                </div>
            </form>
        </div>
    </div>
</div><!-- /.modal -->

<div id="reset-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="formresetLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="formresetLabel">Reset Password</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <form class="form-horizontal" action="{{ url_for('user_management') }}" method="POST">
                <div class="modal-body p-4">
                    <div class="form-group row mb-3">
                        <label for="name" class="col-2 col-form-label">New Password</label>
                        <div class="col-10">
                            <input type="password" name="new_password" class="form-control" id="new_password" placeholder="New Password" required>
                        </div>
                    </div>
                    <input type="hidden" id="id_reset" name="id"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-info waves-effect waves-light">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div><!-- /.modal -->
<!-- end row-->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title mb-3">List User</h4>
                <button id="btn-add-user" type="button" class="btn btn-success waves-effect waves-light" data-toggle="modal" data-target="#form-modal"><span class="btn-label"><i class="mdi mdi-plus"></i></span>Add user</button>
                <div class="table-responsive-md">
                    <table data-toggle="table"
                        data-toolbar="#btn-add-user"
                        data-search="true"
                        data-sort-name="no"
                        data-page-list="[5, 10, 20]"
                        data-page-size="5"
                        data-pagination="true" data-show-pagination-switch="true" id="user-datatable" class="table"
                    >
                        <thead class="thead-light">
                            <tr id="row-head-table">
                                <th data-field="id" data-sortable="false" data-visible="true">id</th>
                                <th data-field="no" data-sortable="true" data-visible="true">#</th>
                                <th data-field="user" data-sortable="true" data-visible="true">User</th>
                                <th data-field="admin" data-sortable="false" data-visible="true">Is Admin</th>
                                <th data-field="reset" data-sortable="false" data-visible="true">Reset Password</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for item in users %}
                            <tr>
                                <td>{{ item.id }}</td>
                                <td>{{ loop.index }}</td>
                                <td>{{ item.username }}</td>
                                <td>
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input is_admin_table" {% if item.is_admin %} checked {% endif %} id="is_admin_table_{{ item.id }}" data-iduser="{{ item.id }}">
                                        <label class="custom-control-label" for="is_admin_table_{{ item.id }}"></label>
                                    </div>
                                </td>
                                <td>
                                    <button id="btn-reset-password" type="button" class="btn btn-warning waves-effect waves-light" data-toggle="modal" data-target="#reset-modal" data-iduser="{{ item.id }}">Reset Password</button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div> <!-- end card-->
    </div> <!-- end col-->
</div>
<!-- end row-->
{% endblock %}
{% block js_third %}
<script src="{{ url_for('static', path='assets/libs/jquery-toast/jquery.toast.min.js') }}"></script>
<script src="{{ url_for('static', path='assets/libs/jquery-tabledit/jquery.tabledit.min.js') }}"></script>
<script src="{{ url_for('static', path='assets/libs/bootstrap-table/bootstrap-table.min.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#reset-modal').on('shown.bs.modal', function (e) {
            $('#new_password').trigger('focus');
            $('#id_reset').val($(e.relatedTarget).data("iduser"));
        })
        var table_edit = {
            url: '{{ url_for("api_update_user") }}',
            buttons:{
                edit:{
                    class:"btn btn-info",
                    html:'<span class="mdi mdi-pencil"></span>',
                    action:"edit"
                },
                delete:{
                    class:"btn btn-danger",
                    html:'<span class="mdi mdi-trash-can-outline"></span>',
                    action:"delete"
                },
                save:{
                    class:"btn btn-success",
                    html:'<span class="mdi mdi-content-save"></span>',
                    action:"save"
                }
            },
            inputClass:"form-control form-control-sm",
            hideIdentifier: true,
            columns:{
                identifier:[0,"id"],
                editable:[[2,"name"]]
            },
            onAjax: function() {
                $("#status").fadeIn();
                $("#preloader").fadeIn("slow");
            },
            onSuccess: function (result) {
                $("#status").fadeOut();
                $("#preloader").fadeOut("slow");
                $.toast({
                    heading: 'Success!',
                    text: result.messages,
                    icon: 'success',
                    showHideTransition: 'fade',
                    position: 'top-right',
                });
            },
            onFail: function (res) {
                $("#status").fadeOut();
                $("#preloader").fadeOut("slow");
                $.toast({
                    heading: 'Error!',
                    text: 'Update failed',
                    icon: 'error',
                    showHideTransition: 'fade',
                    position: 'top-right',
                });
            },
        };
        var table = $('#user-datatable').on("click", ".is_admin_table", function (event) {
            var user = new FormData();
            user.append("id", $(this).data("iduser"));
            var num = event.target.checked ? 1 : 0;
            user.append("is_admin", num);
            $.ajax({
                url: '{{ url_for("api_update_user") }}',
                type: 'POST',
                data: user,
                processData: false,
                contentType: false,
                beforeSend: function() {
                    $("#status").fadeIn();
                    $("#preloader").fadeIn("slow");
                },
                success: function (result) {
                    $("#status").fadeOut();
                    $("#preloader").fadeOut("slow");
                    $.toast({
                        heading: 'Success!',
                        text: result.messages,
                        icon: 'success',
                        showHideTransition: 'fade',
                        position: 'top-right',
                    });
                },
                error: function (res) {
                    $("#status").fadeOut();
                    $("#preloader").fadeOut("slow");
                    $.toast({
                        heading: 'Error!',
                        text: 'Update failed',
                        icon: 'error',
                        showHideTransition: 'fade',
                        position: 'top-right',
                    });
                },
            });
        }).show();

        if ($('#user-datatable').find('tbody').find("tr").find("td").length > 1){
            table.Tabledit(table_edit).on('reset-view.bs.table', function(e) {
                var len = $('#user-datatable').find('tbody').find("tr").find("td").length;
                if (len > 1) {
                    $('#user-datatable').Tabledit(table_edit);
                }
            });
        }
    });
</script>
{% endblock %}